/*ABSTRACTS*/
/*FONTS*/
/*Montserrat*/
/*thin100*/
@import "https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap";
/*extraLight200*/
@import "https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap";
/*light300*/
@import "https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap";
/*regular400*/
@import "https://fonts.googleapis.com/css2?family=Montserrat&display=swap";
/*semibold600*/
@import "https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap";
@media screen and (min-width: 480px) {
  body {
    background-color: red; } }

@media screen and (min-width: 767px) {
  body {
    background-color: blue; } }

@media screen and (min-width: 1024px) {
  body {
    background-color: green; } }

/*BASE*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/*COMPONENTS*/
/*GENERAL*/
/*PAGES*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: white; }

.indexContenedorPadre {
  margin: auto;
  padding: 2rem 2rem 2rem 2rem;
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 3fr 3fr 3fr;
  grid-template-rows: auto 85vh 37.5vh 37.5vh 10vh 40vh 10vh 40vh 40vh 12vh;
  grid-template-areas: "indexHeader indexHeader indexHeader" "indexSection0 indexSection0 indexSection0" "indexSection1 indexSection2 indexSection2" "indexSection1 indexSection3 indexSection3" "indexSection4 indexSection4 indexSection4" "indexSection5 indexSection5 indexSection5" "indexSection6 indexSection6 indexSection6" "indexSection7 indexSection7 indexSection7" "indexSection8 indexSection8 indexSection8" "indexFooter indexFooter indexFooter"; }

.indexHeader {
  background-color: #6a8f6a;
  padding: 1.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-area: indexHeader; }

.indexHeaderLogo {
  display: flex; }
  .indexHeaderLogo a {
    align-self: center; }
    .indexHeaderLogo a button {
      margin-left: 5rem;
      width: 100px;
      height: 70px; }
      .indexHeaderLogo a button h1 {
        padding: 1rem;
        font-size: x-large; }

.indexHeaderLogoImg {
  width: 100px;
  position: relative;
  left: 5px; }

.indexHeaderNavMenu ul {
  list-style-type: none;
  display: flex;
  align-items: center; }
  .indexHeaderNavMenu ul .nav-item a {
    color: white;
    text-decoration: none;
    margin-right: 2rem;
    padding: 1rem;
    font-size: large;
    font-family: 'Montserrat'; }
    .indexHeaderNavMenu ul .nav-item a:hover {
      font-weight: bold;
      text-decoration: solid; }

.fotoNew1 {
  display: none;
  width: 500px;
  height: 1000px; }

.fotoNew12 {
  width: 1500px;
  height: 1000px; }

.visible {
  display: block; }

.indexSection0 {
  background-color: lightgray;
  margin-top: 0rem;
  display: flex;
  flex-direction: column;
  grid-area: indexSection0; }

.indexSection0PortadaImg {
  height: 85vh;
  width: auto; }

.indexSection1 {
  background-color: lightgray;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  grid-area: indexSection1; }

.indexSection1PortadaImg {
  height: 73vh;
  width: auto; }

.indexSection2 {
  background-color: lightgray;
  margin-top: 2rem;
  margin-left: 2rem;
  display: flex;
  flex-direction: column;
  grid-area: indexSection2; }

.indexSection2PortadaImg {
  height: 35vh;
  width: auto; }

.indexSection3 {
  background-color: lightgray;
  margin-top: 2rem;
  margin-left: 2rem;
  display: flex;
  flex-direction: column;
  grid-area: indexSection3; }

.indexSection3PortadaImg {
  height: 35vh;
  width: auto; }

.indexSection4 {
  background-color: #a2d4a2;
  margin-top: 3rem;
  justify-content: center;
  align-content: center;
  display: flex;
  flex-direction: column;
  grid-area: indexSection4; }

.indexSection4 h2 {
  color: white;
  text-align: center;
  font-size: x-large;
  font-family: 'Montserrat';
  font-weight: 600;
  letter-spacing: 0.5rem; }

.indexSection5 {
  background-color: whitesmoke;
  margin-top: 0rem;
  justify-content: space-evenly;
  display: flex;
  flex-direction: row;
  grid-area: indexSection5; }

.indexSection5APortadaImg {
  height: 40vh;
  width: auto; }

.indexSection5BPortadaImg {
  height: 40vh;
  width: auto; }

.indexSection5CPortadaImg {
  height: 40vh;
  width: auto; }

.indexSection6 {
  background-color: white;
  margin-top: 6rem;
  justify-content: center;
  align-content: center;
  display: flex;
  flex-direction: column;
  grid-area: indexSection6; }

.indexSection6 h2 {
  color: #6a8f6a;
  text-align: center;
  font-size: 3rem;
  font-family: 'Montserrat';
  font-weight: 600;
  letter-spacing: 0.5rem; }

.indexSection7 {
  background-color: white;
  margin-top: 5rem;
  justify-content: space-evenly;
  display: flex;
  flex-direction: row;
  grid-area: indexSection7; }

.indexSection7APortadaImg {
  height: 30vh;
  width: auto;
  border-radius: 50%;
  opacity: .6;
  border: 2px double grey; }

.indexSection7APortadaImg:hover {
  opacity: 1;
  border: solid grey; }

.indexSection7BPortadaImg {
  height: 30vh;
  width: auto;
  border-radius: 50%;
  opacity: .6;
  border: 2px double grey; }

.indexSection7BPortadaImg:hover {
  opacity: 1;
  border: solid grey; }

.indexSection7CPortadaImg {
  height: 30vh;
  width: auto;
  border-radius: 50%;
  opacity: .6;
  border: 2px double grey; }

.indexSection7CPortadaImg:hover {
  opacity: 1;
  border: solid grey; }

.indexSection7DPortadaImg {
  height: 30vh;
  width: auto;
  border-radius: 50%;
  opacity: .6;
  border: 2px double grey; }

.indexSection7DPortadaImg:hover {
  opacity: 1;
  border: solid grey; }

.indexSection8 {
  background-color: white;
  margin-top: 2rem;
  justify-content: space-evenly;
  display: flex;
  flex-direction: row;
  grid-area: indexSection8; }

.indexSection8APortadaImg {
  height: 30vh;
  width: auto;
  border-radius: 50%;
  opacity: .6;
  border: 2px double grey; }

.indexSection8APortadaImg:hover {
  opacity: 1;
  border: solid grey; }

.indexSection8BPortadaImg {
  height: 30vh;
  width: auto;
  border-radius: 50%;
  opacity: .6;
  border: 2px double grey; }

.indexSection8BPortadaImg:hover {
  opacity: 1;
  border: solid grey; }

.indexSection8CPortadaImg {
  height: 30vh;
  width: auto;
  border-radius: 50%;
  opacity: .6;
  border: 2px double grey; }

.indexSection8CPortadaImg:hover {
  opacity: 1;
  border: solid grey; }

.indexSection8DPortadaImg {
  height: 30vh;
  width: auto;
  border-radius: 50%;
  opacity: .6;
  border: 2px double grey; }

.indexSection8DPortadaImg:hover {
  opacity: 1;
  border: solid grey; }

.indexFooter {
  background-color: lightgrey;
  padding: 0rem;
  margin-top: 0rem;
  justify-content: center;
  display: flex;
  flex-direction: column;
  grid-area: indexFooter; }

.indexFooter1 {
  display: flex;
  justify-content: center;
  margin-right: 1rem;
  margin-left: 1rem; }

.indexFooter1 h2 {
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: small;
  font-style: italic; }

.indexFooter1 {
  display: flex;
  justify-content: space-around;
  align-items: center; }

.indexFooter1RedesSociales {
  display: flex;
  justify-content: space-between; }
  .indexFooter1RedesSociales .indexFooter1RedesSocialesIg {
    width: 50px; }
  .indexFooter1RedesSociales .indexFooter1RedesSocialesYt {
    width: 50px; }

@media screen and (max-width: 1024px) {
  .indexContenedorPadre {
    margin: auto;
    padding: 0rem;
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 3fr 3fr 3fr;
    grid-template-rows: auto 60vh 60vh 10vh 31vh 10vh auto auto 12vh;
    grid-template-areas: "indexHeader indexHeader indexHeader" "indexSection0 indexSection0 indexSection0" "indexSection1 indexSection1 indexSection1" "indexSection4 indexSection4 indexSection4" "indexSection5 indexSection5 indexSection5" "indexSection6 indexSection6 indexSection6" "indexSection7 indexSection7 indexSection7" "indexSection8 indexSection8 indexSection8" "indexFooter indexFooter indexFooter"; }
  .indexHeader {
    background-color: #6a8f6a;
    padding: 1.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-area: indexHeader; }
  .indexHeaderLogoImg {
    width: 100px;
    position: relative;
    left: 5px; }
  .indexHeaderNavMenu ul {
    list-style-type: none;
    display: flex; }
    .indexHeaderNavMenu ul li a {
      color: white;
      text-decoration: none;
      margin-right: 2rem;
      padding: 1rem;
      font-size: large;
      font-family: 'Montserrat'; }
      .indexHeaderNavMenu ul li a:hover {
        font-weight: bold;
        text-decoration: solid; }
  .indexSection0 {
    background-color: lightgray;
    margin-top: 0rem;
    display: flex;
    flex-direction: column;
    grid-area: indexSection0; }
  .indexSection0PortadaImg {
    height: 85vh;
    width: auto; }
  .indexSection1 {
    background-color: lightgray;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    grid-area: indexSection1; }
  .indexSection1PortadaImg {
    height: 60vh;
    width: auto; }
  .indexSection2 {
    background-color: lightgray;
    margin-top: 2rem;
    margin-left: 2rem;
    display: flex;
    display: none;
    flex-direction: column;
    grid-area: indexSection2; }
  .indexSection2PortadaImg {
    height: 35vh;
    width: auto; }
  .indexSection3 {
    background-color: lightgray;
    margin-top: 2rem;
    margin-left: 2rem;
    display: flex;
    display: none;
    flex-direction: column;
    grid-area: indexSection3; }
  .indexSection3PortadaImg {
    height: 35vh;
    width: auto; }
  .indexSection4 {
    background-color: #a2d4a2;
    margin-top: 3.5rem;
    justify-content: center;
    align-content: center;
    display: flex;
    flex-direction: column;
    grid-area: indexSection4; }
  .indexSection4 h2 {
    color: white;
    text-align: center;
    font-size: large;
    font-family: 'Montserrat';
    font-weight: 600;
    letter-spacing: 0.5rem; }
  .indexSection5 {
    background-color: whitesmoke;
    margin-top: 0rem;
    justify-content: space-evenly;
    display: flex;
    flex-direction: row;
    grid-area: indexSection5; }
  .indexSection5APortadaImg {
    height: 33vh;
    width: 33vw; }
  .indexSection5BPortadaImg {
    height: 33vh;
    width: 33vw; }
  .indexSection5CPortadaImg {
    height: 33vh;
    width: 33vw; }
  .indexSection6 {
    background-color: white;
    margin-top: 0rem;
    justify-content: center;
    align-content: center;
    display: flex;
    flex-direction: column;
    grid-area: indexSection6; }
  .indexSection6 h2 {
    color: #6a8f6a;
    text-align: center;
    font-size: 3rem;
    font-family: 'Montserrat';
    font-weight: 600;
    letter-spacing: 0.5rem; }
  .indexSection7 {
    background-color: white;
    margin-top: 1rem;
    justify-content: space-evenly;
    display: flex;
    flex-direction: row;
    grid-area: indexSection7; }
  .indexSection7APortadaImg {
    height: 30vh;
    width: 30vw;
    border-radius: 50%;
    opacity: .6;
    border: 2px double grey;
    display: none; }
  .indexSection7APortadaImg:hover {
    opacity: 1;
    border: solid grey; }
  .indexSection7BPortadaImg {
    height: 27vh;
    width: 27vw;
    border-radius: 50%;
    opacity: .6;
    border: 2px double grey; }
  .indexSection7BPortadaImg:hover {
    opacity: 1;
    border: solid grey; }
  .indexSection7CPortadaImg {
    height: 27vh;
    width: 27vw;
    margin-left: 1rem;
    margin-right: 1rem;
    border-radius: 50%;
    opacity: .6;
    border: 2px double grey; }
  .indexSection7CPortadaImg:hover {
    opacity: 1;
    border: solid grey; }
  .indexSection7DPortadaImg {
    height: 27vh;
    width: 27vw;
    border-radius: 50%;
    opacity: .6;
    border: 2px double grey; }
  .indexSection7DPortadaImg:hover {
    opacity: 1;
    border: solid grey; }
  .indexSection8 {
    background-color: white;
    margin-top: 2rem;
    justify-content: space-evenly;
    display: flex;
    flex-direction: row;
    grid-area: indexSection8; }
  .indexSection8APortadaImg {
    height: 30vh;
    width: 30vw;
    border-radius: 50%;
    opacity: .6;
    border: 2px double grey;
    display: none; }
  .indexSection8APortadaImg:hover {
    opacity: 1;
    border: solid grey; }
  .indexSection8BPortadaImg {
    height: 27vh;
    width: 27vw;
    border-radius: 50%;
    opacity: .6;
    border: 2px double grey; }
  .indexSection8BPortadaImg:hover {
    opacity: 1;
    border: solid grey; }
  .indexSection8CPortadaImg {
    height: 27vh;
    width: 27vw;
    margin-left: 1rem;
    margin-right: 1rem;
    border-radius: 50%;
    opacity: .6;
    border: 2px double grey; }
  .indexSection8CPortadaImg:hover {
    opacity: 1;
    border: solid grey; }
  .indexSection8DPortadaImg {
    height: 27vh;
    width: 27vw;
    border-radius: 50%;
    opacity: .6;
    border: 2px double grey; }
  .indexSection8DPortadaImg:hover {
    opacity: 1;
    border: solid grey; }
  .indexFooter {
    background-color: lightgrey;
    padding: 0rem;
    margin-top: 2rem;
    justify-content: center;
    display: flex;
    flex-direction: column;
    grid-area: indexFooter; }
  .indexFooter1 {
    display: flex;
    justify-content: center;
    margin-right: 1rem;
    margin-left: 1rem; }
  .indexFooter1 h2 {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: x-small;
    font-style: italic; }
  .indexFooter1 {
    display: flex;
    justify-content: space-around;
    align-items: center; }
  .indexFooter1RedesSociales {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    justify-content: space-evenly; }
    .indexFooter1RedesSociales .indexFooter1RedesSocialesIg {
      width: 35px; }
    .indexFooter1RedesSociales .indexFooter1RedesSocialesYt {
      width: 35px; } }

@media screen and (max-width: 576px) {
  .indexContenedorPadre {
    margin: auto;
    padding: 0rem;
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 3fr 3fr 3fr;
    grid-template-rows: auto 35vh 35vh 5vh 17vh 30vh 10vh auto auto 10vh;
    grid-template-areas: "indexHeader indexHeader indexHeader" "indexSection0 indexSection0 indexSection0" "indexSection1 indexSection1 indexSection1" "indexSection4 indexSection4 indexSection4" "indexSection5 indexSection5 indexSection5" "indexSection2 indexSection2 indexSection2" "indexSection6 indexSection6 indexSection6" "indexSection7 indexSection7 indexSection7" "indexSection8 indexSection8 indexSection8" "indexFooter indexFooter indexFooter"; }
  .indexHeader {
    background-color: #6a8f6a;
    padding: 1.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-area: indexHeader; }
  .indexHeaderLogoImg {
    width: 60px;
    position: relative;
    left: 5px; }
  .indexHeaderNavMenu ul {
    list-style-type: none;
    display: flex; }
    .indexHeaderNavMenu ul li a {
      color: white;
      text-decoration: none;
      margin-right: 0.8rem;
      padding: 0.1rem;
      font-size: x-small;
      font-family: 'Montserrat'; }
      .indexHeaderNavMenu ul li a:hover {
        font-weight: bold;
        text-decoration: solid; }
  .indexSection0 {
    background-color: lightgray;
    margin-top: 0rem;
    display: flex;
    flex-direction: column;
    grid-area: indexSection0; }
  .indexSection0PortadaImg {
    height: 85vh;
    width: auto; }
  .indexSection1 {
    background-color: lightgray;
    margin-top: 0rem;
    display: flex;
    flex-direction: column;
    grid-area: indexSection1; }
  .indexSection1PortadaImg {
    height: 60vh;
    width: auto; }
  .indexSection2 {
    background-color: lightgray;
    margin-top: 1rem;
    position: relative;
    right: 1rem;
    display: flex;
    flex-direction: column;
    grid-area: indexSection2; }
  .indexSection2PortadaImg {
    height: auto;
    width: auto; }
  .indexSection3 {
    background-color: lightgray;
    margin-top: 2rem;
    margin-left: 2rem;
    display: flex;
    display: none;
    flex-direction: column;
    grid-area: indexSection3; }
  .indexSection3PortadaImg {
    height: 35vh;
    width: auto; }
  .indexSection4 {
    background-color: #a2d4a2;
    margin-top: 0rem;
    justify-content: center;
    align-content: center;
    display: flex;
    flex-direction: column;
    grid-area: indexSection4; }
  .indexSection4 h2 {
    color: white;
    text-align: center;
    font-size: x-small;
    font-family: 'Montserrat';
    font-weight: 600;
    letter-spacing: 0.5rem; }
  .indexSection5 {
    background-color: whitesmoke;
    margin-top: 0rem;
    justify-content: space-evenly;
    display: flex;
    flex-direction: row;
    padding: 0rem;
    grid-area: indexSection5; }
  .indexSection5APortadaImg {
    height: 10rem; }
  .indexSection5BPortadaImg {
    height: 10rem; }
  .indexSection5CPortadaImg {
    height: 10rem; }
  .indexSection6 {
    background-color: white;
    margin-top: 0rem;
    justify-content: center;
    align-content: center;
    display: flex;
    flex-direction: column;
    grid-area: indexSection6; }
  .indexSection6 h2 {
    color: #6a8f6a;
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Montserrat';
    font-weight: 600;
    letter-spacing: 0.5rem; }
  .indexSection7 {
    background-color: white;
    margin-top: 0rem;
    justify-content: space-evenly;
    display: flex;
    flex-direction: row;
    grid-area: indexSection7; }
  .indexSection7APortadaImg {
    height: 15vh;
    width: 30vw;
    border-radius: 50%;
    opacity: .6;
    border: 2px double grey;
    display: none; }
  .indexSection7APortadaImg:hover {
    opacity: 1;
    border: solid grey; }
  .indexSection7BPortadaImg {
    height: 12vh;
    width: 25vw;
    border-radius: 50%;
    opacity: .6;
    border: 2px double grey; }
  .indexSection7BPortadaImg:hover {
    opacity: 1;
    border: solid grey; }
  .indexSection7CPortadaImg {
    height: 12vh;
    width: 25vw;
    margin-left: 0rem;
    margin-right: 0rem;
    border-radius: 50%;
    opacity: .6;
    border: 2px double grey; }
  .indexSection7CPortadaImg:hover {
    opacity: 1;
    border: solid grey; }
  .indexSection7DPortadaImg {
    height: 12vh;
    width: 25vw;
    border-radius: 50%;
    opacity: .6;
    border: 2px double grey; }
  .indexSection7DPortadaImg:hover {
    opacity: 1;
    border: solid grey; }
  .indexSection8 {
    background-color: white;
    margin-top: 1.5rem;
    justify-content: space-evenly;
    display: flex;
    flex-direction: row;
    grid-area: indexSection8; }
  .indexSection8APortadaImg {
    height: 12vh;
    width: 25vw;
    border-radius: 50%;
    opacity: .6;
    border: 2px double grey;
    display: none; }
  .indexSection8APortadaImg:hover {
    opacity: 1;
    border: solid grey; }
  .indexSection8BPortadaImg {
    height: 12vh;
    width: 25vw;
    border-radius: 50%;
    opacity: .6;
    border: 2px double grey; }
  .indexSection8BPortadaImg:hover {
    opacity: 1;
    border: solid grey; }
  .indexSection8CPortadaImg {
    height: 12vh;
    width: 25vw;
    margin-left: 0rem;
    margin-right: 0rem;
    border-radius: 50%;
    opacity: .6;
    border: 2px double grey; }
  .indexSection8CPortadaImg:hover {
    opacity: 1;
    border: solid grey; }
  .indexSection8DPortadaImg {
    height: 12vh;
    width: 25vw;
    border-radius: 50%;
    opacity: .6;
    border: 2px double grey; }
  .indexSection8DPortadaImg:hover {
    opacity: 1;
    border: solid grey; }
  .indexFooter {
    background-color: lightgrey;
    padding: 0rem;
    margin-top: 2rem;
    justify-content: center;
    display: flex;
    flex-direction: column;
    grid-area: indexFooter; }
  .indexFooter1 {
    display: flex;
    justify-content: center;
    margin-right: 1rem;
    margin-left: 1rem; }
  .indexFooter1 h2 {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: xx-small;
    font-style: italic; }
  .indexFooter1 {
    display: flex;
    justify-content: space-around;
    align-items: center; }
  .indexFooter1RedesSociales {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    justify-content: space-evenly; }
    .indexFooter1RedesSociales .indexFooter1RedesSocialesIg {
      width: 25px; }
    .indexFooter1RedesSociales .indexFooter1RedesSocialesYt {
      width: 25px; } }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: white; }

.terrariosContenedorPadre {
  margin: auto;
  padding: 2rem 2rem 0rem 2rem;
  /*
    grid-template-columns: 3fr 3fr 3fr;
    grid-template-rows: auto 1fr 1fr 12vh;
    grid-template-areas:
        "terrariosHeader terrariosHeader terrariosHeader"
        "terrariosSection1 terrariosSection2 terrariosSection3"
        "terrariosSection4 terrariosSection5 terrariosSection6"
        "terrariosFooter terrariosFooter terrariosFooter";
        */ }

.terrariosHeader {
  background-color: #6a8f6a;
  padding: 1.2rem;
  margin-bottom: 0rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-area: terrariosHeader; }

.terrariosHeaderLogoImg {
  width: 100px;
  position: relative;
  left: 5px; }

.terrariosHeaderNavMenu ul {
  list-style-type: none;
  display: flex;
  align-items: center; }
  .terrariosHeaderNavMenu ul .nav-item a {
    color: white;
    text-decoration: none;
    margin-right: 2rem;
    padding: 1rem;
    font-size: large;
    font-family: 'Montserrat'; }
    .terrariosHeaderNavMenu ul .nav-item a:hover {
      font-weight: bold;
      text-decoration: solid; }

.terrariosSection0 {
  margin: 3rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  grid-area: cuidadosSection0; }
  .terrariosSection0 .terrariosSection0Titulo {
    padding: 3rem;
    padding-bottom: 0rem;
    margin-bottom: 0rem;
    border: 10px; }
    .terrariosSection0 .terrariosSection0Titulo h1 {
      color: #6a8f6a;
      text-align: center;
      font-size: 5rem;
      font-family: 'Montserrat';
      font-weight: 600;
      letter-spacing: 0.5rem; }

/*
//terrariosSection1
.terrariosSection1 {
    background-color: white;
    margin: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-area: terrariosSection1;

    .card {
        width: 30rem;
        border-width: 1.5px;
        border-color: lightgray;
        box-shadow: black 0px 5px 25px 0px;

        .card-img-top {
            padding: 2rem;
            border-radius: 5%;
        }

        .card-body {
            text-align: center;

            .card-title {
                font-family: 'Montserrat';

            }

            .card-text {
                font-family: 'Montserrat';
            }

            .btn {
                font-family: 'Montserrat';
            }
        }
    }
}

//terrariosSection2
.terrariosSection2 {
    background-color: white;
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-area: terrariosSection2;

    .card {
        width: 30rem;
        border-width: 1.5px;
        border-color: lightgray;
        box-shadow: black 0px 5px 25px 0px;

        .card-img-top {
            padding: 2rem;
            border-radius: 5%;
        }

        .card-body {
            text-align: center;

            .card-title {
                font-family: 'Montserrat';

            }

            .card-text {
                font-family: 'Montserrat';
            }

            .btn {
                font-family: 'Montserrat';
            }
        }
    }
}

//terrariosSection3
.terrariosSection3 {
    background-color: white;
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-area: terrariosSection3;

    .card {
        width: 30rem;
        border-width: 1.5px;
        border-color: lightgray;
        box-shadow: black 0px 5px 25px 0px;

        .card-img-top {
            padding: 2rem;
            border-radius: 5%;
        }

        .card-body {
            text-align: center;

            .card-title {
                font-family: 'Montserrat';

            }

            .card-text {
                font-family: 'Montserrat';
            }

            .btn {
                font-family: 'Montserrat';
            }
        }
    }
}

//terrariosSection4
.terrariosSection4 {
    background-color: white;
    margin-top: 0rem;
    margin-bottom: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-area: terrariosSection4;

    .card {
        width: 30rem;
        border-width: 1.5px;
        border-color: lightgray;
        box-shadow: black 0px 5px 25px 0px;

        .card-img-top {
            padding: 2rem;
            border-radius: 5%;
        }

        .card-body {
            text-align: center;

            .card-title {
                font-family: 'Montserrat';

            }

            .card-text {
                font-family: 'Montserrat';
            }

            .btn {
                font-family: 'Montserrat';
            }
        }
    }
}
*/
#producto-contenedor {
  display: grid;
  margin: 90px auto;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap; }

.modal-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  background-color: transparent;
  width: 100%;
  height: auto;
  visibility: hidden;
  transition: opacity 0.3s ease;
  border-radius: 10px;
  z-index: 100; }

.modal-active {
  opacity: 1;
  visibility: visible;
  z-index: 5; }

.modal-carrito {
  width: 30rem;
  height: auto;
  background-color: whitesmoke;
  padding: 2rem; }
  .modal-carrito .modal-carrito-title {
    text-align: left;
    padding-bottom: 20px;
    letter-spacing: normal;
    font-family: 'Montserrat'; }
  .modal-carrito .modal-carrito-cerrar {
    padding-top: 20px; }
    .modal-carrito .modal-carrito-cerrar #cerrar {
      padding: 5px;
      font-size: small;
      border-width: 0.5px;
      background-color: whitesmoke;
      border-radius: 8%;
      font-family: 'Montserrat'; }
  .modal-carrito #carrito-contenedor {
    text-align: justify;
    color: black;
    font-family: 'Montserrat'; }

.productoEnCarrito {
  border-left: 5px solid lightblue;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
  margin: 5px 0;
  padding: 5px 10px;
  display: flex;
  justify-content: space-between; }

.boton-eliminar {
  background-color: white;
  color: lightblue;
  border: none;
  font-size: 20px; }

.card {
  width: 27rem;
  border-width: 1.5px;
  border-color: lightgray;
  box-shadow: grey 0px 0px 10px 0px;
  text-align: center; }
  .card .card-img-top {
    padding: 20px 20px 0px 20px;
    border-radius: 0%; }
  .card .card-body {
    background-color: whitesmoke;
    padding: 0px 20px 20px 20px;
    margin: 0px 20px 20px 20px;
    width: 388px; }
    .card .card-body .card-title {
      text-align: left;
      padding: 40px 0px 10px 40px;
      font-family: 'Montserrat';
      font-weight: 300;
      font-size: x-large; }
    .card .card-body .card-text .card-text-tipo {
      text-align: left;
      padding: 20px 0px 6px 40px;
      font-family: 'Montserrat';
      font-weight: 300;
      text-align: left; }
    .card .card-body .card-text .card-text-plantas {
      text-align: left;
      padding: 0px 0px 6px 40px;
      font-family: 'Montserrat';
      font-weight: 300;
      text-align: left; }
    .card .card-body .card-text .card-text-precio {
      text-align: left;
      padding: 0px 0px 40px 40px;
      font-family: 'Montserrat';
      font-weight: 300;
      text-align: left; }
    .card .card-body .btn-card {
      text-align: left;
      padding: 0px 0px 20px 40px; }
      .card .card-body .btn-card .btn {
        background-color: lightgray;
        color: black;
        font-family: 'Montserrat';
        font-weight: 500; }

.terrariosFooter {
  background-color: lightgrey;
  padding: 2rem;
  margin-top: 2rem;
  justify-content: center;
  display: flex;
  flex-direction: column;
  grid-area: terrariosFooter; }

.terrariosFooter1 {
  display: flex;
  justify-content: center;
  margin-right: 1rem;
  margin-left: 1rem; }

.terrariosFooter1 h2 {
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: small;
  font-style: italic; }

.terrariosFooter1 {
  display: flex;
  justify-content: space-around;
  align-items: center; }

.terrariosFooter1RedesSociales {
  display: flex;
  justify-content: space-between; }
  .terrariosFooter1RedesSociales .terrariosFooter1RedesSocialesIg {
    width: 50px; }
  .terrariosFooter1RedesSociales .terrariosFooter1RedesSocialesYt {
    width: 50px; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: white; }

.plantasContenedorPadre {
  margin: auto;
  padding: 2rem 2rem 0rem 2rem;
  /*
    grid-template-columns: 3fr 3fr 3fr;
    grid-template-rows: auto 1fr 1fr 12vh;
    grid-template-areas:
        "terrariosHeader terrariosHeader terrariosHeader"
        "terrariosSection1 terrariosSection2 terrariosSection3"
        "terrariosSection4 terrariosSection5 terrariosSection6"
        "terrariosFooter terrariosFooter terrariosFooter";
        */ }

.plantasHeader {
  background-color: #6a8f6a;
  padding: 1.2rem;
  margin-bottom: 0rem;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.plantasHeaderLogoImg {
  width: 100px;
  position: relative;
  left: 5px; }

.plantasHeaderNavMenu ul {
  list-style-type: none;
  display: flex;
  align-items: center; }
  .plantasHeaderNavMenu ul .nav-item a {
    color: white;
    text-decoration: none;
    margin-right: 2rem;
    padding: 1rem;
    font-size: large;
    font-family: 'Montserrat'; }
    .plantasHeaderNavMenu ul .nav-item a:hover {
      font-weight: bold;
      text-decoration: solid; }

.plantasSection0 {
  margin: 3rem;
  display: flex;
  flex-direction: column;
  text-align: center; }
  .plantasSection0 .plantasSection0Titulo {
    padding: 3rem;
    padding-bottom: 0rem;
    margin-bottom: 1rem;
    border: 10px; }
    .plantasSection0 .plantasSection0Titulo h1 {
      color: #6a8f6a;
      text-align: center;
      font-size: 5rem;
      font-family: 'Montserrat';
      font-weight: 600;
      letter-spacing: 0.5rem; }

.container-fluid {
  margin-top: 4rem; }

.seleccion {
  display: flex;
  width: 81rem;
  height: 7rem;
  border-width: 1.5px;
  border-color: lightgray;
  box-shadow: grey 0px 0px 10px 0px;
  background-color: whitesmoke;
  text-align: left;
  margin: 0rem 0rem 3rem 0rem; }
  .seleccion .btnOpciones {
    padding: 1rem;
    align-self: center;
    margin-left: 3rem;
    font-family: 'Montserrat';
    /*
        .btnOpcionesElige {
            font-family: 'Montserrat';
            font-weight: 200;
        }
        */ }
  .seleccion .btnSearch {
    width: 4rem;
    height: 2rem;
    padding: 2px;
    margin-left: 1.5rem;
    align-self: center;
    font-family: 'Montserrat'; }
  .seleccion .seleccionTexto {
    margin-top: 0.8rem;
    margin-left: 8rem;
    margin-right: 0rem;
    align-self: center; }
    .seleccion .seleccionTexto h5 {
      font-family: 'Montserrat';
      font-weight: 300;
      font-size: 15px;
      font-style: italic;
      letter-spacing: 4px;
      text-align: justify; }

.col {
  width: 20rem;
  border-width: 1.5px;
  border-color: lightgray;
  text-align: center;
  margin: 3rem 7rem 0rem 0rem; }
  .col .colClass {
    width: 27rem;
    height: 30rem; }
    .col .colClass .card-img-top {
      padding: 20px 20px 0px 20px;
      border-radius: 0%; }
    .col .colClass .card-body {
      background-color: whitesmoke;
      padding: 0px 20px 20px 20px;
      margin: 0px 20px 20px 20px;
      width: 388px; }
      .col .colClass .card-body .card-title {
        text-align: left;
        padding: 40px 0px 10px 10px;
        font-family: 'Montserrat';
        font-weight: 300;
        font-size: x-large; }
      .col .colClass .card-body .card-list {
        list-style-type: disc; }
        .col .colClass .card-body .card-list .card-text {
          text-align: left;
          font-family: 'Montserrat';
          font-weight: 300;
          padding: 0px 0px 0px 0px; }

.plantasFooter {
  background-color: lightgrey;
  padding: 2rem;
  margin-top: 5rem;
  justify-content: center;
  display: flex;
  flex-direction: column;
  grid-area: cuidadosFooter; }

.plantasFooter1 {
  display: flex;
  justify-content: center;
  margin-right: 1rem;
  margin-left: 1rem; }

.plantasFooter1 h2 {
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: small;
  font-style: italic; }

.plantasFooter1 {
  display: flex;
  justify-content: space-around;
  align-items: center; }

.plantasFooter1RedesSociales {
  display: flex;
  justify-content: space-between; }
  .plantasFooter1RedesSociales .plantasFooter1RedesSocialesIg {
    width: 50px; }
  .plantasFooter1RedesSociales .plantasFooter1RedesSocialesYt {
    width: 50px; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: white; }

.cuidadosContenedorPadre {
  margin: auto;
  padding: 2rem 2rem 0rem 2rem;
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 2fr 2fr 2fr 12vh;
  grid-template-areas: "cuidadosHeader cuidadosHeader" "cuidadosSection0 cuidadosSection0" "cuidadosSection1 cuidadosSection2" "cuidadosSection3 cuidadosSection4" "cuidadosFooter cuidadosFooter"; }

.cuidadosHeader {
  background-color: #6a8f6a;
  padding: 1.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-area: cuidadosHeader; }

.cuidadosHeaderLogoImg {
  width: 100px;
  position: relative;
  left: 5px; }

.cuidadosHeaderNavMenu ul {
  list-style-type: none;
  display: flex;
  align-items: center; }
  .cuidadosHeaderNavMenu ul .nav-item a {
    color: white;
    text-decoration: none;
    margin-right: 2rem;
    padding: 1rem;
    font-size: large;
    font-family: 'Montserrat'; }
    .cuidadosHeaderNavMenu ul .nav-item a:hover {
      font-weight: bold;
      text-decoration: solid; }

.cuidadosSection0 {
  margin: 3rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  grid-area: cuidadosSection0; }
  .cuidadosSection0 .cuidadosSection0Titulo {
    padding: 3rem;
    padding-bottom: 0rem;
    margin-bottom: 1rem;
    border: 10px; }
    .cuidadosSection0 .cuidadosSection0Titulo h1 {
      color: #6a8f6a;
      text-align: center;
      font-size: 5rem;
      font-family: 'Montserrat';
      font-weight: 600;
      letter-spacing: 0.5rem; }

.cuidadosSection1 {
  background-color: white;
  margin: 3rem;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-area: cuidadosSection1; }
  .cuidadosSection1 .card {
    width: 45rem;
    height: 56rem; }
    .cuidadosSection1 .card .card-img-top {
      padding: 0rem;
      padding-bottom: 1rem;
      border-radius: 0%; }
    .cuidadosSection1 .card .cardText {
      margin-top: 1rem;
      margin-bottom: 1rem; }
      .cuidadosSection1 .card .cardText .card-title {
        color: grey;
        text-align: center;
        font-size: 40px;
        font-family: 'Montserrat';
        font-weight: 400; }
      .cuidadosSection1 .card .cardText .btnCard1 {
        margin-top: 0.5rem;
        background-color: lightgrey; }

.cuidadosSection2 {
  background-color: white;
  margin: 3rem;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-area: cuidadosSection2; }
  .cuidadosSection2 .card {
    width: 45rem;
    height: 56rem; }
    .cuidadosSection2 .card .card-img-top {
      padding: 0rem;
      padding-bottom: 1rem;
      border-radius: 0%; }
    .cuidadosSection2 .card .cardText {
      margin-top: 1rem;
      margin-bottom: 1rem; }
      .cuidadosSection2 .card .cardText .card-title {
        color: grey;
        text-align: center;
        font-size: 40px;
        font-family: 'Montserrat';
        font-weight: 400; }
      .cuidadosSection2 .card .cardText .btnCard2 {
        margin-top: 0.5rem;
        background-color: lightgrey; }

.cuidadosSection3 {
  background-color: white;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-area: cuidadosSection3; }
  .cuidadosSection3 .card {
    width: 45rem;
    height: 56rem; }
    .cuidadosSection3 .card .card-img-top {
      padding: 0rem;
      padding-bottom: 1rem;
      border-radius: 0%; }
    .cuidadosSection3 .card .cardText {
      margin-top: 1rem;
      margin-bottom: 1rem; }
      .cuidadosSection3 .card .cardText .card-title {
        color: grey;
        text-align: center;
        font-size: 40px;
        font-family: 'Montserrat';
        font-weight: 400; }
      .cuidadosSection3 .card .cardText .btnCard3 {
        margin-top: 0.5rem;
        background-color: lightgrey; }

.cuidadosSection4 {
  background-color: white;
  margin-top: 2rem;
  margin-bottom: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-area: cuidadosSection4; }
  .cuidadosSection4 .card {
    width: 45rem;
    height: 56rem; }
    .cuidadosSection4 .card .card-img-top {
      padding: 0rem;
      padding-bottom: 1rem;
      border-radius: 0%; }
    .cuidadosSection4 .card .cardText {
      margin-top: 1rem;
      margin-bottom: 1rem; }
      .cuidadosSection4 .card .cardText .card-title {
        color: grey;
        text-align: center;
        font-size: 40px;
        font-family: 'Montserrat';
        font-weight: 400; }
      .cuidadosSection4 .card .cardText .btnCard4 {
        margin-top: 0.5rem;
        background-color: lightgrey; }

.cuidadosFooter {
  background-color: lightgrey;
  padding: 2rem;
  margin-top: 2rem;
  justify-content: center;
  display: flex;
  flex-direction: column;
  grid-area: cuidadosFooter; }

.cuidadosFooter1 {
  display: flex;
  justify-content: center;
  margin-right: 1rem;
  margin-left: 1rem; }

.cuidadosFooter1 h2 {
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: small;
  font-style: italic; }

.cuidadosFooter1 {
  display: flex;
  justify-content: space-around;
  align-items: center; }

.cuidadosFooter1RedesSociales {
  display: flex;
  justify-content: space-between; }
  .cuidadosFooter1RedesSociales .cuidadosFooter1RedesSocialesIg {
    width: 50px; }
  .cuidadosFooter1RedesSociales .cuidadosFooter1RedesSocialesYt {
    width: 50px; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: white; }

.contactoContenedorPadre {
  margin: auto;
  padding: 2rem 2rem 0rem 2rem;
  width: 100%;
  height: 100vh; }

.contactoHeader {
  background-color: #6a8f6a;
  padding: 1.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.contactoHeaderLogoImg {
  width: 100px;
  position: relative;
  left: 5px; }

.contactoHeaderNavMenu ul {
  list-style-type: none;
  display: flex;
  align-items: center; }
  .contactoHeaderNavMenu ul .nav-item a {
    color: white;
    text-decoration: none;
    margin-right: 2rem;
    padding: 1rem;
    font-size: large;
    font-family: 'Montserrat'; }
    .contactoHeaderNavMenu ul .nav-item a:hover {
      font-weight: bold;
      text-decoration: solid; }

.contactoSection0 {
  margin: 3rem 3rem 4.5rem 3rem;
  display: flex;
  flex-direction: column;
  text-align: center; }
  .contactoSection0 .contactoSection0Titulo {
    padding: 3rem;
    padding-bottom: 0rem;
    margin-bottom: 1rem;
    border: 10px; }
    .contactoSection0 .contactoSection0Titulo h1 {
      color: #6a8f6a;
      text-align: center;
      font-size: 5rem;
      font-family: 'Montserrat';
      font-weight: 600;
      letter-spacing: 0.5rem; }

.row_contacto {
  width: 80rem;
  height: 46rem;
  background-color: whitesmoke;
  padding: 2rem;
  border-width: 1.5px;
  border-color: lightgray;
  box-shadow: grey 0px 0px 10px 0px;
  background-color: whitesmoke; }

.row_contacto_ustedes .ustedes {
  font-family: 'Montserrat';
  font-weight: 200;
  letter-spacing: 5px;
  font-size: 30px;
  text-align: center; }

.row_contacto_ustedes_formulario .row_contacto_ustedes_formulario1 {
  text-align: center;
  align-items: center;
  align-content: center;
  justify-content: center; }

h1 {
  letter-spacing: 10px; }

h3 {
  letter-spacing: 5px; }

h4 {
  letter-spacing: 2px; }

.row_contacto_ustedes_formulario1_data1 {
  padding: 8px;
  font-family: 'Montserrat'; }
  .row_contacto_ustedes_formulario1_data1 input {
    width: 800px;
    margin-left: 30px; }

.row_contacto_ustedes_formulario1_data2 {
  padding: 8px;
  font-family: 'Montserrat'; }
  .row_contacto_ustedes_formulario1_data2 input {
    width: 800px;
    margin-left: 47px; }

.row_contacto_ustedes_formulario1_data3 {
  padding: 8px;
  font-family: 'Montserrat'; }
  .row_contacto_ustedes_formulario1_data3 input {
    width: 800px;
    margin-left: 30px; }

.row_contacto_ustedes_formulario1_data4 {
  padding: 8px;
  font-family: 'Montserrat'; }

.row_contacto_ustedes_formulario1_data5 {
  padding: 8px;
  font-family: 'Montserrat'; }
  .row_contacto_ustedes_formulario1_data5 input {
    color: white;
    margin-left: 30px;
    font-size: 20px;
    padding: 10px;
    font-family: 'Montserrat';
    font-weight: 300;
    border-radius: 5%;
    border-width: 1px;
    background-color: #6a8f6a; }

.contactoFooter {
  background-color: lightgrey;
  padding: 2rem;
  margin-top: 10rem;
  justify-content: center;
  display: flex;
  flex-direction: column; }
  .contactoFooter .contactoFooter1 {
    display: flex;
    margin-right: 1rem;
    margin-left: 1rem;
    justify-content: space-around;
    align-items: center; }
    .contactoFooter .contactoFooter1 h2 {
      font-family: 'Montserrat';
      font-weight: 400;
      font-size: small;
      font-style: italic; }
    .contactoFooter .contactoFooter1 .contactoFooter1RedesSociales {
      display: flex;
      justify-content: space-between; }
      .contactoFooter .contactoFooter1 .contactoFooter1RedesSociales .contactoFooter1RedesSocialesIg {
        width: 50px; }
      .contactoFooter .contactoFooter1 .contactoFooter1RedesSociales .contactoFooter1RedesSocialesYt {
        width: 50px; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: white; }

.loginContenedorPadre {
  margin: auto;
  padding: 2rem 2rem 0rem 2rem;
  width: 100%;
  height: 100vh; }

.loginHeader {
  background-color: #6a8f6a;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.loginHeaderLogoImg {
  width: 100px;
  position: relative;
  left: 5px; }

.loginHeaderNavMenu ul {
  list-style-type: none;
  display: flex; }
  .loginHeaderNavMenu ul .nav-item a {
    color: white;
    text-decoration: none;
    margin-right: 2rem;
    padding: 1rem;
    font-size: large;
    font-family: 'Montserrat'; }
    .loginHeaderNavMenu ul .nav-item a:hover {
      font-weight: bold;
      text-decoration: solid; }

.fakeAncla {
  text-decoration: underline;
  color: #0d6efd;
  background-color: lightgray; }

.loginHeaderNav form {
  position: relative;
  bottom: 2rem; }
  .loginHeaderNav form .btn {
    width: 100px;
    height: 50px;
    font-family: 'Montserrat'; }

.loginPortada {
  align-items: center;
  align-content: center;
  text-align: center;
  align-self: center;
  justify-content: center; }

.loginPortadaPrincipal {
  width: 2000px;
  height: 1300px;
  padding: 5rem; }

.loginFooter {
  background-color: lightgrey;
  padding: 2rem;
  margin-top: 0rem;
  justify-content: center;
  display: flex;
  flex-direction: column;
  grid-area: terrariosFooter; }

.loginFooter1 {
  display: flex;
  justify-content: center;
  margin-right: 1rem;
  margin-left: 1rem; }

.loginFooter1 h2 {
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: small;
  font-style: italic; }

.loginFooter1 {
  display: flex;
  justify-content: space-around;
  align-items: center; }

.loginFooter1RedesSociales {
  display: flex;
  justify-content: space-between; }
  .loginFooter1RedesSociales .loginFooter1RedesSocialesIg {
    width: 50px; }
  .loginFooter1RedesSociales .loginFooter1RedesSocialesYt {
    width: 50px; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: white; }

.carritoComprasContenedorPadre {
  margin: auto;
  padding: 2rem 2rem 0rem 2rem;
  width: 100%;
  height: 100vh; }

.carritoComprasHeader {
  background-color: #6a8f6a;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.carritoComprasHeaderLogoImg {
  width: 100px;
  position: relative;
  left: 5px; }

.carritoComprasPortadaPrincipal {
  width: 2000px;
  height: 1300px;
  padding: 5rem; }

.carritoComprasPortada {
  align-items: center;
  align-content: center;
  text-align: center;
  align-self: center;
  justify-content: center; }

.row_contacto3 {
  width: 80rem;
  height: 88rem;
  background-color: whitesmoke;
  margin: 10rem 10rem 10rem 21rem;
  padding: 2rem;
  border-width: 1.5px;
  border-color: lightgray;
  box-shadow: grey 0px 0px 10px 0px;
  background-color: whitesmoke; }

.row_contacto_ustedes3 .ustedes3 {
  font-family: 'Montserrat';
  font-weight: 300;
  font-size: 30px;
  text-align: left; }

.row_contacto_ustedes_formulario .row_contacto_ustedes_formulario1 {
  text-align: center;
  align-items: center;
  align-content: center;
  justify-content: center; }

h1 {
  letter-spacing: 10px; }

h3 {
  letter-spacing: 5px; }

h4 {
  letter-spacing: 2px; }

.row_contacto_ustedes_formulario1_data1 {
  padding: 8px;
  font-family: 'Montserrat'; }
  .row_contacto_ustedes_formulario1_data1 input {
    width: 800px;
    margin-left: 30px; }

.row_contacto_ustedes_formulario1_data2 {
  padding: 8px;
  font-family: 'Montserrat'; }
  .row_contacto_ustedes_formulario1_data2 input {
    width: 800px;
    margin-left: 47px; }

.row_contacto_ustedes_formulario1_data3 {
  padding: 8px;
  font-family: 'Montserrat'; }
  .row_contacto_ustedes_formulario1_data3 input {
    width: 800px;
    margin-left: 30px; }

.row_contacto_ustedes_formulario1_data4 {
  padding: 8px;
  font-family: 'Montserrat'; }
  .row_contacto_ustedes_formulario1_data4 input {
    width: 20px;
    margin-left: 10px; }

.row_contacto_ustedes .ustedes {
  font-family: 'Montserrat';
  font-weight: 200;
  font-size: 30px;
  text-align: left; }

.row_contacto_ustedes_formulario .row_contacto_ustedes_formulario2 {
  text-align: center;
  align-items: center;
  align-content: center;
  justify-content: center; }

h1 {
  letter-spacing: 10px; }

h3 {
  letter-spacing: 5px; }

h4 {
  letter-spacing: 2px; }

.row_contacto_ustedes_formulario2_data1 {
  padding: 8px;
  font-family: 'Montserrat'; }
  .row_contacto_ustedes_formulario2_data1 input {
    width: 800px;
    margin-left: 30px; }

.row_contacto_ustedes_formulario2_data2 {
  padding: 8px;
  font-family: 'Montserrat'; }
  .row_contacto_ustedes_formulario2_data2 input {
    width: 800px;
    margin-left: 55px; }

.row_contacto_ustedes_formulario2_data3 {
  padding: 8px;
  font-family: 'Montserrat'; }
  .row_contacto_ustedes_formulario2_data3 input {
    width: 800px;
    margin-left: 20px; }

.row_contacto_ustedes_formulario2_data4 {
  padding: 8px;
  font-family: 'Montserrat'; }
  .row_contacto_ustedes_formulario2_data4 input {
    width: 800px;
    margin-left: 80px; }

.row_contacto_ustedes_formulario2_data5 {
  padding: 8px;
  font-family: 'Montserrat'; }
  .row_contacto_ustedes_formulario2_data5 input {
    width: 800px;
    margin-left: 65px; }

.btnCard5 {
  background-color: #6a8f6a;
  color: white;
  font-size: x-large;
  font-weight: 300; }

.row_contacto_ustedes_formulario2_data7 {
  padding: 8px;
  font-family: 'Montserrat';
  /*
    input{
        color: white;
        margin-left: 30px;
        font-size: 20px;
        padding: 10px;
        font-family: 'Montserrat';
        font-weight: 300;
        border-radius: 5%;
        border-width: 1px;
        background-color: rgb(106, 143, 106);
    }
    */ }

.carritoComprasFooter {
  background-color: lightgrey;
  padding: 2rem;
  margin-top: 0rem;
  justify-content: center;
  display: flex;
  flex-direction: column;
  grid-area: terrariosFooter; }

.carritoComprasFooter1 {
  display: flex;
  justify-content: center;
  margin-right: 1rem;
  margin-left: 1rem; }

.carritoComprasFooter1 h2 {
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: small;
  font-style: italic; }

.carritoComprasFooter1 {
  display: flex;
  justify-content: space-around;
  align-items: center; }

.carritoComprasFooter1RedesSociales {
  display: flex;
  justify-content: space-between; }
  .carritoComprasFooter1RedesSociales .carritoComprasFooter1RedesSocialesIg {
    width: 50px; }
  .carritoComprasFooter1RedesSociales .carritoComprasFooter1RedesSocialesYt {
    width: 50px; }

/*VENDORS*/
