// mobile
@media screen and (min-width: 480px) {
    body{
        background-color: red;
    }
}

// tablet
@media screen and (min-width: 767px) {
    body{
        background-color: blue;
    }
}

// desktop
@media screen and (min-width: 1024px) {
    body{
        background-color: green;
    }
}